.main-image{
    border-radius: 50%;  
    border : 20px #ffffff solid;
    height: 586px;
}
.container-fluid{
    height : 720px;
    width : 1560px;
    background-color: #fafafa;
    display : flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.logo-image{
    width: 272px;
    height: 58px;
}

.info{
    padding-top : 20px;
    text-align: left;
    font: normal normal 300 40px/47px Roboto;
    color: #3E3E3E;
}

.login-info{
    height: 33px;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    padding-top : 20px;
    padding-bottom: 50px;
}

#exampleInputEmail1{
    width: 429px;
    height: 49px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}

#exampleInputPassword1{
    width: 429px;
    height: 49px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}
.btn{
    width: 138px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
}
body{
    display : flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.btn2{
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    color: #ADADAD;
    margin-right : 225px;
    margin-top: 10px;
}
.bottom{
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
    display : inline;
}
.sub-bottom{
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}
.foot{
    margin-top : 10px;
}
.flexing{
    display: flex;
    gap : 185px;
}
@media only screen and (max-width:990px){
    .sub-second{
        padding-top : 40px; 
        background-color: #fafafa;
        text-align: center;
    }
    .row{
        padding-top : 70px;
    }
    body{
        display : flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .info{
        text-align: center;
        width: 100%;
    }
    .inputs{
        padding-left : 25%;
    }
}